* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #26272a;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 100px;
        background-image: url(Images/gamedevbackground.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.35;
    }
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a{
    z-index: 1000;
}
.logo{
    &::before{
        width: 140px;
    }
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgba(255, 255, 255,1);
    text-decoration: none;
    font-size:  18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text{
    text-align: center;
    font-size: 25px;
    position: relative;

}
.header-text h1{
    font-size: 75px;
    margin-top: 70px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.header-text p{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    position: relative;
}
nav .fa-solid{
    display: none;
}
/*------- videos ----- */
#content-Videos{
    padding: 30px 0;
}
.content-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-videos{
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    flex-basis: 100%;
}
.content-videos video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #4c4c4c;
    font-weight: 300;
    position: absolute;
}

@media only screen and (max-width: 700px){
    #header{
        &::before{
            content: '';
            position: absolute;
            background-image: url(Images/Gamedevphone-background.png); 
            opacity: 0.35;
        } 
    }
    .logo{
        &::before{
            width: 50px;
        }
    }
    nav a{
        z-index: 1000;
    }
    .header-text{
        margin-top: 75%;
        font-size:16px;
    }
    .header-text h1{
        font-size: 30px;
        position: relative;
        margin-top: 175px;
    }
    .header-text p{
        color: #fff;
        font-size: 12px;
        position: relative;
    }
    nav i.fa-solid{
        display: inline-block;
        z-index: 1;
        font-size: 25px;
        color: #fff;
        &::before{
            display: inline-block;
            z-index: 2;
            color: #fff;
        }
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 150vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
        z-index: 2;
    }

    nav ul i.fa-solid{
        &::before{
            position: absolute;
            top: 25px;
            left: 25px;
            z-index: 2;
            cursor: pointer;
        }
        
    }
    .content-wrapper{
        flex-basis: 100%;
        justify-content: center;
    }
    .content-videos{
        position: relative;
        height: 300px;
    }
    .content-videos video{
        max-height: 350px;
    }
    .copyright{
        width: 100%;
        text-align: center;
        padding: 25px;
        background: #4c4c4c;
        font-weight: 300;
        font-size: 12px;
    }
}